*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
.navbar{
  background-color: rgb(159, 55, 78)

}
.footer{
  background-color: rgb(159, 55, 78)
}


@media only screen and (max-width: 600px) {
.shippingcharge{
  display: none;
}
.st{
  visibility: visible;
}

}